<!DOCTYPE html>
<html lang="ru" dir="ltr"  class="h-100">
  <head>
    <meta charset="utf-8">
    <title>BE FIT</title>
    <%- include('style'); -%>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body class="h-100 bg_background_im_home">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="jumbotron w-100 bg-white">
            <h1 class="display-4">Calories calculator!</h1>
            <p class="lead">Take care of your body.  It’s the only place you have to live.</p>
            <hr class="my-4">
            <p>Be fit and happy!</p>
            <div class="d-flex justify-content-between">
              <div>
                <a class="btn btn-primary btn-lg" href="/register" role="button">User register</a>
                <a class="btn btn-primary btn-lg" href="/login" role="button">User login</a>
              </div>
              <div>
                <a class="btn btn-warning btn-lg" href="/admin/register" role="button">Admin register</a>
                <a class="btn btn-warning btn-lg" href="/admin/login" role="button">Admin login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
